<center>
	<body class= "background">
		<br>
		<h1 style= color:333333> <%=p1_name%> Please pick a word for <%=p2_name%> to play Hangman! </h1>
		<%=p2_name%>  You will be guessing-
		<form action="/secretword" method="post">
			<input type= "password" name="word">
			<input type= "submit" value= "Enter">
			<input type= "hidden" name="player1" value='<%=p1_name%>'>
			<input type= "hidden" name="player2" value='<%=p2_name%>'>
		</br>
		</form>
	</body>
</center>